.home_urban_skating {
  background: url('/assets/images/back/skeat_boat.jpg');
}
.home_impressions_shows {
  background: url('/assets/images/home_channel_vector.png'), rgb(45,45,45);
  background-position: top right;
  background-size: cover;
}
.home_mindfulness {
  background: url('/assets/images/carousel_red_back.png'), rgb(0,0,0);
  background-position: center top left;
  background-size: cover;
}
.home_impressions {
  background: url('/assets/images/back/impression.png'), rgb(194,194,191);
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.show_pop_paradise {
  background: url('/assets/images/back/20.png'), rgba(255,0,0,.8);
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.show_space_shows {
  background: url('/assets/images/back/25.png'), rgb(55, 252, 239);
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.show_basketball {
  background: url('/assets/images/back/26.png'), rgb(0, 0, 0);
  background-position:left;
  background-size: contain;
  background-repeat: no-repeat;
}
.show_bmx_challenges {
  background: url('/assets/images/back/30.png'), rgb(217, 228, 244);
  background-position:left;
  background-size: contain;
  background-repeat: no-repeat;
}
.home_lastest_news {
  background: url('/assets/images/back/latest_news.png') center, url('/assets/images/home_channel_vector.png') top right;
  // background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.show_sport {
  background: url('/assets/images/back/img-5.jpg') center;
  // background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home_basketball_diaries {
  background: url('/assets/images/back/Basketball_Diaries.jpg');
  // background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.primary_opacity {
  background: rgba(255,0,0,.8);
}
.avatar {
  max-width: 100%;
  img {
    border-radius: 100px;
  }
}
.round_box {
  max-width: 100%;
  img {
    border-radius: 100px;
  }
}
.show_slider_back {
  background: url('/assets/images/carousel_red_back.png') top right no-repeat;
  background-size: cover;
}
.show_fashionstas {
  background: url('/assets/images/back/impression.png'), rgb(194,194,191);
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
