h1{
  line-height: 1;
}
.home_btn {
  padding: 15px 100px;
  background-color: $primery-color;
  color: $white_color;
  &:hover{
    color: $white_color;
    text-decoration: none;
  }
}
.play_btn {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: solid 1px $white_color;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  div {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 4% 4%, 98% 50%, 3% 95%, 0 100%, 100% 51%, 100% 49%);
    clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 4% 4%, 98% 50%, 3% 95%, 0 100%, 100% 51%, 100% 49%);
    background-color: $white_color;
    height: 30px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.shows_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.home_channel_title {
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: $white_color;
  span {
    display: block;
    font-weight: normal;
    font-size: 16px;
  }
}
.wrapper {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero1_title {
  font-size: 72px;
  font-weight: 700;
  span {
    height: 5px;
    width: 50px;
    background-color: $primery-color;
    display: inline-block;
    margin-bottom: 10px;
  }
}
.subscribe_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 250px;
  background-color: $black_color;
  text-align: center;
  padding-top: 10px;
  a{
    color: $white_color;
    &:hover {
      text-decoration: none;
    }
  }
}
.channels_music {
  height: 100%;
  width: 100%;
  background-color: $black_color;
  transition: all .5s;
  min-height: 400px;
  &:hover {
    opacity: .9;
  }
  .music_title {
    color: $white_color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-weight: bold;
      font-size: 48px;
      span {
        height: 5px;
        width: 50px;
        background-color: $primery-color;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
}
.mi_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide_title {
  text-align: center;
  color: $white_color;
  h1 {
    font-weight: bold;
    font-size: 42px;
  }
}
.round_box {
  height: 42px;
  width: 42px;
  border-radius: 100px;
  background-color: $black_color;
}
.channel_title {
  h1 {
    font-weight: bold;
  }
  p {
      color: $primery-color;
  }
}
.no_padding {
  padding: 0;
  overflow: hidden;
}
.video_box {
  min-height: 250px;
  width: 100%;
  background-color: $black_color;
  transition: all .5s;
  .play_btn {
    display: none;
    transition: all .5s;
  }
  &:hover {
    background-color: $primery-color;
    .play_btn {
      display: block;
    }
  }
}
.voting_box {
  padding: 50px;
  background-color: $white_color;
  position: relative;
  top: 126%;
  transform: translateY(-50%);
  .primery_red_box {
    height: 10px;
    width: 100px;
    position: relative;
    top: 0;
    background-color: $primery-color;
  }
  .hero1_title {
    font-size: 32px;
  }
  .home_btn {
    padding: 15px 105px;
    position: absolute;
    margin-top: -4px;
    background: $black_color;
  }
}
.Skateboarding_box {
  width: 100%;
  min-height: 350px;
  background-color: $black_color;
  position: relative;
}
.catagory {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: $primery-color;
  }
}
.news_slider2_box {
  height: 540px;
  width: 100%;
  background-color: $secondery-color;
}
