<section class="header_hero">
  <div class="container">
    <div class="about_slider">
      <div class="carousel about_carousel">
        <div class="row">
          <img src="/assets/images/about_carousel.png" alt="" class="header_hero_img">
          <div class="col-4">
          </div>
          <div class="col-8">
            <!-- <div class="header_title"> -->
            <h1 class="header_title title1">Make an 1</h1>
            <!-- <p class="header_copyright">&#169;</p> -->
            <h1 class="header_title">impression</h1>
            <!-- </div> -->
          </div>
        </div>
        <div class="subscribe_btn">
          <a href="#">Subscribe on Youtube</a>
        </div>
      </div>
      <div class="carousel about_carousel">
        <div class="row">
          <img src="/assets/images/about_carousel.png" alt="" class="header_hero_img">
          <div class="col-4">
          </div>
          <div class="col-8">
            <!-- <div class="header_title"> -->
            <h1 class="header_title title1">Make an 2</h1>
            <!-- <p class="header_copyright">&#169;</p> -->
            <h1 class="header_title">impression</h1>
            <!-- </div> -->
          </div>
        </div>
        <div class="subscribe_btn">
          <a href="#">Subscribe on Youtube</a>
        </div>
      </div>
      <div class="carousel about_carousel">
        <div class="row">
          <img src="/assets/images/about_carousel.png" alt="" class="header_hero_img">
          <div class="col-4">
          </div>
          <div class="col-8">
            <!-- <div class="header_title"> -->
            <h1 class="header_title title1">Make an 3</h1>
            <!-- <p class="header_copyright">&#169;</p> -->
            <h1 class="header_title">impression</h1>
            <!-- </div> -->
          </div>
        </div>
        <div class="subscribe_btn">
          <a href="#">Subscribe on Youtube</a>
        </div>
      </div>
      <div class="carousel about_carousel">
        <div class="row">
          <img src="/assets/images/about_carousel.png" alt="" class="header_hero_img">
          <div class="col-4">
          </div>
          <div class="col-8">
            <!-- <div class="header_title"> -->
            <h1 class="header_title title1">Make an 3</h1>
            <!-- <p class="header_copyright">&#169;</p> -->
            <h1 class="header_title">impression</h1>
            <!-- </div> -->
          </div>
        </div>
        <div class="subscribe_btn">
          <a href="#">Subscribe on Youtube</a>
        </div>
      </div>
    </div>
    <nav class="slide-controls">
      <!-- <a role="button" class="slide-arrow arrow-prev" title="Previous slide"><span>Previous</span></a>
      <a role="button" class="slide-arrow arrow-next" title="Next slide"><span>Next</span></a> -->
      <span></span>
    </nav>
  </div>
</section>
