<section class="header_hero">
  <div class="container">
    <div class="home_slider">
      <div class="carousel">
        <div class="row">
          <img src="assets/images/Model2.png" alt="" class="header_hero_img">
          <div class="col-5">
          </div>
          <div class="col-7">
            <!-- <div class="header_title"> -->
            <h1 class="header_title title1">First</h1>
            <p class="header_copyright">&#169;</p>
            <h1 class="header_title">take</h1>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="carousel">
        <div class="row">
          <img src="assets/images/Model2.png" alt="" class="header_hero_img">
          <div class="col-5">
          </div>
          <div class="col-7">
            <!-- <div class="header_title"> -->
            <h1 class="header_title title1">First</h1>
            <p class="header_copyright">&#169;</p>
            <h1 class="header_title">take</h1>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="carousel">
        <div class="row">
          <img src="assets/images/Model2.png" alt="" class="header_hero_img">
          <div class="col-5">
          </div>
          <div class="col-7">
            <!-- <div class="header_title"> -->
            <h1 class="header_title title1">First</h1>
            <p class="header_copyright">&#169;</p>
            <h1 class="header_title">take</h1>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="carousel">
        <div class="row">
          <img src="assets/images/Model2.png" alt="" class="header_hero_img">
          <div class="col-5">
          </div>
          <div class="col-7">
            <!-- <div class="header_title"> -->
            <h1 class="header_title title1">First</h1>
            <p class="header_copyright">&#169;</p>
            <h1 class="header_title">take</h1>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <nav class="slide-controls">
      <span></span>
    </nav>
  </div>
</section>
