<section>
  <div class="show_carousel">
    <div class="container">
      <div class="wrapper">
        <div class="slide">
          <div class="row">
            <div class="col-sm-8">
              <div class="slide_part1">
                <div class="slide_title mi_center">
                  <h1>Relaxing Tones</h1>
                  <p>Available to stream on Spotify now</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="slide_part2">
                <div class="home_content">
                  <h1 class="hero1_title">Chillax</h1>
                  <h1 class="hero1_title">Now <span></span> </h1>
                  <h3>Music</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="round_box">
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="channel_title">
                      <h2>MI VEVO</h2>
                      <p>3.8M Subscribers</p>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="pt-4">
                      <a href="#" class="home_btn">watch now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
