<section>
  <div class="show_carousel">
    <div class="container">
      <div class="carousel_background">
        <div class="background">
          <div class="row">
            <div class="col-12">
            </div>
            <div class="col-12 col-sm-8">
              <div class="shows_background">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="show_slider">
        <div class="wrapper">
          <div class="slide">
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-11">

              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-8 col-12">
                <div class="slide_part1">
                  <div class="slide_title mi_center">
                    <h1>Relaxing Tones</h1>
                    <p>Available to stream on Spotify now</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-12">
                <div class="slide_part2">
                  <div class="wrapper">
                    <div class="home_content">
                      <h1 class="hero1_title">Chillax</h1>
                      <h1 class="hero1_title">Now <span></span> </h1>
                      <h3>Music</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <div class="round_box">
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="channel_title">
                          <h2>MI VEVO</h2>
                          <p>3.8M Subscribers</p>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="">
                          <a href="#" class="home_btn">View channel on Youtube</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="slide">
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-11">

              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-8 col-12">
                <div class="slide_part1">
                  <div class="slide_title mi_center">
                    <h1>Relaxing Tones</h1>
                    <p>Available to stream on Spotify now</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-12">
                <div class="slide_part2">
                  <div class="wrapper">
                    <div class="home_content">
                      <h1 class="hero1_title">Chillax</h1>
                      <h1 class="hero1_title">Now <span></span> </h1>
                      <h3>Music</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                      <div class="col-3 ">
                        <div class="round_box">
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="channel_title">
                          <h2>MI VEVO</h2>
                          <p>3.8M Subscribers</p>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="pt-4">
                          <a href="#" class="home_btn">View channel on Youtube</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="slide">
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-11">

              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-8 col-12">
                <div class="slide_part1">
                  <div class="slide_title mi_center">
                    <h1>Relaxing Tones</h1>
                    <p>Available to stream on Spotify now</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-12">
                <div class="slide_part2">
                  <div class="wrapper">
                    <div class="home_content">
                      <h1 class="hero1_title">Chillax</h1>
                      <h1 class="hero1_title">Now <span></span> </h1>
                      <h3>Music</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <div class="round_box">
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="channel_title">
                          <h2>MI VEVO</h2>
                          <p>3.8M Subscribers</p>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="pt-4">
                          <a href="#" class="home_btn">View channel on Youtube</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="slide">
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-11">

              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-8 col-12">
                <div class="slide_part1">
                  <div class="slide_title mi_center">
                    <h1>Relaxing Tones</h1>
                    <p>Available to stream on Spotify now</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-12">
                <div class="slide_part2">
                  <div class="wrapper">
                    <div class="home_content">
                      <h1 class="hero1_title">Chillax</h1>
                      <h1 class="hero1_title">Now <span></span> </h1>
                      <h3>Music</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <div class="round_box">
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="channel_title">
                          <h2>MI VEVO</h2>
                          <p>3.8M Subscribers</p>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="pt-4">
                          <a href="#" class="home_btn">View channel on Youtube</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <nav class="slide-controls">
        <!-- <a role="button" class="slide-arrow arrow-prev" title="Previous slide"><span>Previous</span></a> -->
        <!-- <a class="left_arrow slide-arrow arrow-next" role="button">
      </a> -->
        <span></span>
      </nav>
    </div>

    <nav class="slide-controls-arrow">
      <a role="button" class="left_arrow slide-arrow arrow-next" title="Next slide"><span></span>
        <img src="/assets/images/arrow_right.png" alt="">
      </a>
    </nav>
  </div>
</section>
