<footer>
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list">
            <li class="list_item">
              <a href="#" class="list_link">Home</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">About</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Shows</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Social</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list">
            <li class="list_item">
              <a href="#" class="list_link">FAQ</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Help Center</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Account</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Media Center</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list">
            <li class="list_item">
              <a href="#" class="list_link">News</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Press Releases</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Ediional</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Partner</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list">
            <li class="list_item">
              <a href="#" class="list_link">Contact</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Loacation</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Careers</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Community</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr>
        </div>
        <div class="col-sm-3">
          <h1 class="navbar-brand">MITV <span>.</span> </h1>
        </div>
        <div class="col-sm-6">
          <p class="copy_right">© 2020 Designed by tranmautritam for Mass Impressions </p>
        </div>
        <div class="col-sm-3">
          <div class="footer_social">
            <ul class="list">
              <li class="list_item">
                <a href="#" class="list_link">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                    <image id="_16px-logo-facebook" data-name="16px-logo-facebook" width="16" height="16" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiBw4OADjnOy6eAAAAhElEQVQoz52QsQ2DQBAE55EbOALHpCZ1C9eFe6AbWqAGgqvDXQD/uSUcPAjB67HwRre3q93TOR0oyWMsTmUoC34gNUy8uCNIpLfE0FgXB80k9HuaJnwA9M0jdwOgbpWPhgohgM0IQptWBPNxMA9aZysWPAGczoe1mIdt+8cnrxvCqT5+AXUwGBX0pzu0AAAAAElFTkSuQmCC"/>
                  </svg>
                </a>
              </li>
              <li class="list_item">
                <a href="#" class="list_link">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="14" viewBox="0 0 16 14">
                    <image id="_16px-logo-twitter" data-name="16px-logo-twitter" width="16" height="14" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAQAAACMJlQBAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiBw4OACtjhW9AAAAA9klEQVQY023OvyvEcRzH8cf3e5crRUopdaVOJnGDUkoyfBaDH2GRyWLwHzD4C26W/4FBMvFhuGJADOfHdoORUJa7xY8B9Y17Te9Xz2e9X4l/Cf0WJfbjXUj1JqFoNW5m8Iwdbfi0q2wpV5qwXeopHdffIRRUdYDEoBftqWesqYXlUMCw7sy3extJSJ0bAW9ONcxnhOl4kDep+VM7Tf3Z+0jqWlnrNNVI46sVjZbCUWyQ4kTVZwuhAinxxY3kH96LVchB/bB0pagvg2/N1ZuQD10Khsway+AzC/H1+8ybtG40Ax9UbMX335pAGDCuKOfJhcv4kZ3yBXl0P229hbypAAAAAElFTkSuQmCC"/>
                  </svg>
                </a>
              </li>
              <li class="list_item">
                <a href="#" class="list_link">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                    <image id="_16px-logo-instagram" data-name="16px-logo-instagram" width="16" height="16" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiBw4OACGDUIZeAAAA+ElEQVQoz4XRvUqCcRQG8N8rDq9bgc056pQoLkaF8IeGhm7DCwi8BsELaK3docFF/iAuDQXhINgUXkCDWy842JAf2Ac9ZzrnPOfhnOckhJKeK6l9ZAZu4jwJJc+Kfse7Rk5P0VTd4V4cOTVV1EvCh1Q9vuyPhgfnro1leSneIFR1tTDSMXPgCWkSVjiMi1D1qLAW+NCME8KK3Fa1q2CsomKsoLsp7wgttONrfNVeZ98If2BHGOE2lEPZ7ToD+S2h48yF2XrJzg+FONE0tLQ0/Lpho5BJHVsQJy73zKohyxngPpyE5JuXNXcY/P+sONfQl/1oZvoacf4JUCRGmuq1qSIAAAAASUVORK5CYII="/>
                  </svg>
                </a>
              </li>
              <li class="list_item">
                <a href="#" class="list_link">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="12" viewBox="0 0 16 12">
                    <image  data-name="16px-logo-youtube" width="16" height="12" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAQAAADB7vUKAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiBw4OAAIhN/csAAAAsElEQVQY02NkYHAJY/BhUGGQZRBg4GGAgC8MHxgeM9xh2LxnNaNLJsM0BtwgkYkhmgEfSGJiUETiZjO8QFOgzMQggsRdxqDO0M/wF0lEhImBDVnDnk97ihgMGA7BBdiYGAgAFoZfyGa48DE0MOQxMMMFfjExvEFSHsVwk6EQSZqB4Q0Tw10k7lQGCTQb7jAxzMPrhFnM9y4oXWP4wfCNgZEB4aMvDK8YrjIcYKjcsw4A5z4luliNMrIAAAAASUVORK5CYII="/>
                  </svg>

                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
