<footer>
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list">
            <li class="list_item">
              <a href="#" class="list_link">Home</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">About</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Shows</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Social</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list">
            <li class="list_item">
              <a href="#" class="list_link">FAQ</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Help Center</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Account</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Media Center</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list">
            <li class="list_item">
              <a href="#" class="list_link">News</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Press Releases</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Ediional</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Partner</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list">
            <li class="list_item">
              <a href="#" class="list_link">Contact</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Loacation</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Careers</a>
            </li>
            <li class="list_item">
              <a href="#" class="list_link">Community</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr>
        </div>
        <div class="col-sm-3">
          <h1 class="navbar-brand">MITV <span>.</span> </h1>
        </div>
        <div class="col-sm-6">
          <p class="copy_right">© 2020 Designed by tranmautritam for Mass Impressions </p>
        </div>
        <div class="col-sm-3">
          <div class="footer_social">
            <ul class="list">
              <li class="list_item">
                <a href="#" class="list_link">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list_item">
                <a href="#" class="list_link">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list_item">
                <a href="#" class="list_link">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list_item">
                <a href="#" class="list_link">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
