.about_hero1 {
  background-color: #f7fcff;
  position: relative;
  .about_box {
    padding-top: 100px;
    @media only screen and (max-width: 767px) {
      padding-top: 0;
    }
    .wrapper {
      @media only screen and (max-width: 1024px) {
        padding: 35px 25px;
      }
    }
  }
  .channels_music {
    margin-top: 220px;
    height: 50%;
    position: relative;
    @media only screen and (max-width: 767px) {
      margin-top: 0
    }
    .home_channel_title {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .about_rectangle {
    height: 80vh;
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #e91a1b;
    @media only screen and (max-width: 1024px) {
      height: 50vh;
    }
    @media only screen and (max-width: 800px) {
      height: 62vh;
    }
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .hero1_title {
    @media only screen and (max-width: 800px) {
      font-size: 36px;
    }
  }
}
.about_hero2 {
  .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .sport {
    margin-top: 100px;
  }
  .play_btn {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .box {
    position: relative;
    top: 100px;
    width: 100%;
    height: 400px;
    margin-top: -100px;
    background-color: rgb(248, 50, 63);
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
  .hero1_title {
    @media only screen and (max-width: 767px) {
      font-size: 58px;
    }
  }
}

.about_hero3 {
  .home_hero4 {
    margin-top: 0;

    .home_hero_news {
      // background-color: $black_color;
      background: url("../images/about_news_vector.png") right top no-repeat, url("../images/footer_backgound.png") left bottom no-repeat, rgb(0,0,0);
      background-size: contain;
      color: $white_color;
    }

    .home_news_title {
      span {
        margin-bottom: 7px;
        background-color: $primery-color;
      }
    }
    .blog {
      &:hover {
        background-color: $primery-color;
      }
    }
  }
}
