footer {
  background: url("assets/images/footer_backgound.png") right bottom no-repeat, rgb(0, 0, 0);
  hr {
    background-color: #111;
  }
  .navbar-brand {
    color: $white_color;
    @media only screen and (max-width: 767px) {
      display: block;
      text-align: center;
    }
  }
  .list {
    margin: 70px 0;
    @media only screen and (max-width: 767px) {
      margin: 15px 0;
    }
    .list_item {
      list-style: none;
      .list_link {
        text-decoration: none;
        line-height: 3.333;
        color: $footer_link_color;
        transition: all .5s;
        &:hover {
          color: $white_color;
        }
      }
    }
  }
  .copy_right{
    margin-top: 10px;
    color: $footer_link_color;
    @media only screen and (max-width: 800px) {
      text-align: center;
    }
  }
  .footer_social {
    margin-top: 10px;
    @media only screen and (max-width: 767px) {
      margin: 0;
    }
    .list {
      margin: 0;
      float: right;
      @media only screen and (max-width: 767px) {
        float: unset;
        text-align: center;
      }
      .list_item {
        display: inline-block;
        margin-left: 20px;
        @media only screen and (max-width: 800px) {
          margin-left: 10px;
        }
        @media only screen and (max-width: 767px) {
          margin: 0 10px;
        }
        .list_link {
          line-height: normal;
          transition: all .5s;
          &:hover {
            svg {
              fill: $white_color;
            }
          }
        }
      }
    }
  }
}
