.home_hero1 {
  // background: url("/assets/images/home_hero11.png");
  background-position: center;
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  @media only screen and (max-width: 767px) {
    height: 55vh;
  }
  .hero1_title {
    font-size: 72px;
    font-weight: 700;
    span {
      height: 10px;
      width: 50px;
      background-color: $primery-color;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .home_content {
    position: absolute;
    top: 110px;
    @media only screen and (max-width: 767px) {
      top: 0;
    }
  }
  .rectangle1 {
    position: absolute;
    right: 0;
    margin-top: 10vh;
    width: 40%;
    height: 90vh;
    background-color: #e91a1b;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .home_hero_img {
    position: absolute;
    height: 100vh;
    left: 20%;
    z-index: 100;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
.home_hero2 {
  padding-top: 60px;
  .row {
    margin-top: 30px;
  }

  .sport {
    height: 500px;
    .play_btn {
      margin-top: 100px;
    }
  }
}
.home_hero4 {
  margin-top: 100px;
  .home_hero_news {
    background-color: $primery-color;
    color: $white_color;
  }
  .home_news_title {
    font-weight: bold;
    span {
      height: 5px;
      width: 35px;
      background-color: $white_color;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .blog {
    padding: 30px 0;
    transition: all .5s;
    &:hover {
      background-color: $black_color;
    }
    .avatar {
      margin-top: 15px;
      height: 36px;
      width: 36px;
      background-color: $white_color;
      border-radius: 50px;
      margin-left: auto;
      @media only screen and (max-width: 767px) {
        margin-left: -10px;
      }
    }
    h1 {
      font-size: 30px;
      font-weight: 400;
      @media only screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
  }
}
.home_hero_logo {
  background-color: $black_color;
  .home_logo {
    background-color: $white_color;
    // box-shadow: 0px 13px 72.21px 14.79px rgba(184, 185, 201, 0.38);
    width: 100%;
    .news_logo {
      padding: 50px 0;
    }
  }
}
